#game-canvas {
    background: #eee;
    border: thin solid #aaa;
    cursor: crosshair;
    z-index: 1;
}

#rubber-band {
    position: absolute;
    border: 2px solid #ffcc55;
    cursor: crosshair;
    display: none;
    z-index: 2;
}
